    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          
          <div class="col-md-10">
            <img src="../../assets/world.png"
              class="img-fluid">
          </div>

         <h2 class="my-5 display-3 fw-bold ls-tight">
              Pour un monde <br/>
              <span class="text-primary"> A la santé connectée</span>
            </h2>
            <p class="signup-subtitle">
                La carnet de santé numérique, un outil révolutionnaire dans le monde entier
            </p>
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <mat-card>
            <mat-card-header class="justify-content-center mb-3">
              <mat-card-title class="card-title">Inscrivez-vous</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="form-outline mb-4">
                  <mat-form-field class="w-100">
                    <mat-label>First name</mat-label>
                    <input matInput [(ngModel)]="user.firstName">
                  </mat-form-field>
                
                <div class="form-outline mb-4">
                  <mat-form-field class="w-100">
                    <mat-label>Last name</mat-label>
                    <input matInput [(ngModel)]="user.lastName">
                  </mat-form-field>
                </div>
              </div>
              
              <!-- Email input -->
              <div class="form-outline mb-4">
                <mat-form-field class="w-100">
                  <mat-label>Email</mat-label>
                  <input matInput type="email" [(ngModel)]="user.email">
                </mat-form-field>
              </div>

              <div class="form-outline mb-4 signup-input">
                <mat-form-field class="w-100">
                  <mat-label>Choisissez votre profession</mat-label>
                  <select matNativeControl required [(ngModel)]="user.profession">
                    <option value="1">Médecin</option>
                    <option value="2">Hôpital</option>
                    <option value="3">ONG</option>
                    <option value="4">Autre</option>
                  </select>
                </mat-form-field>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4 signup-input">
                <mat-form-field class="w-100">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" [(ngModel)]="user.password">
                </mat-form-field>
              </div>

              <!-- Submit button -->
              <div class="d-flex justify-content-center align-items-center mb-4">
                <button mat-fab extended color="accent" (click)="postUser()">
                  S'inscrire
                </button>
              </div>

              <!-- Register buttons -->
              <div class="d-flex justify-content-around align-items-center mb-4">
                <label class="form-label">Déjà membre ?</label> 
                <button mat-fab extended color="primary" (click)="displaySignUp()">
                <i class="fa-regular fa-user-plus"></i>Se connecter</button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
